<div class="wrapper1">
    <img src="assets/Logo.png" />
</div>
<div class="wrapper">
    <div class="item">
        <form [formGroup]="dadosCadastro" (ngSubmit)="actionConfirmar()">
            <input id="nome" type="text" placeholder="Nome" formControlName="name"/>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                <div *ngIf="name.errors.required">
                    Nome é obrigatório.
                </div>
            </div>
            <br>
            <input id="email" type="email" placeholder="Email" formControlName="email"/>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                <div *ngIf="email.errors.required || email.errors.email">
                    Email é obrigatório.
                </div>
            </div>
            <br>
            <input id="senha" type="password" placeholder="Senha" formControlName="password"/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                <div *ngIf="password.errors.required">
                    Senha é obrigatório.
                </div>
            </div>
            <br>
            <input id="confirmarsenha" type="password" placeholder="Confirmar Senha" formControlName="confirmPassword">
            <br>
            <button type="button" class="cancelarbtn" (click)="actionCancelar()">Cancelar</button>
            <input class="submitinput" id="submitinfo" type="submit" value="Confirmar" [disabled]="!dadosCadastro.valid">
        </form>
    </div>
</div>