<div class="wrapper1">
    <img class="imgtitletop" src="assets/Logo.png" />
</div>
<div class="wrapper">
    <div class="item">
        <form [formGroup]="dadosCadastro" (ngSubmit)="actionConfirmar()">
            <p>Crie sua conta</p>
            <div class="boxvertical">
                <input id="nome" type="text" placeholder="Nome" formControlName="name" />
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    <div *ngIf="name.errors.required">
                        Nome é obrigatório.
                    </div>
                </div>
                <input id="email" type="email" placeholder="Email" formControlName="email" />
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                    <div *ngIf="email.errors.required || email.errors.email">
                        Email é obrigatório.
                    </div>
                </div>
                <input id="senha" type="password" placeholder="Senha" formControlName="password" />
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                    <div *ngIf="password.errors.required">
                        Senha é obrigatório.
                    </div>
                </div>
                <input id="confirmarsenha" type="password" placeholder="Confirmar Senha" formControlName="confirmPassword">
                <br>
            </div>
            <button type="button" class="cancelarbtn" (click)="actionCancelar()">Cancelar</button>
            <input class="submitinput" id="submitinfo" type="submit" value="Confirmar"
                [disabled]="!dadosCadastro.valid">
        </form>
    </div>
</div>