/* Application-wide Styles */
@font-face {
  font-family: 'Roboto';
  src: url(/assets/roboto/Roboto-Regular.woff2) format("truetype");
  font-weight: 400;
}
  body {
    margin: 2em;
    background-color: #E5E5E5;
    font-family: Roboto;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }