<div class="wrapper1">
    <img class="imgtitletop" src="assets/Logo.png" />
</div>
<div class="wrapper">
    <div class="item">
        <form [formGroup]="dadosCadastro" (ngSubmit)="actionConfirmar()">
            <p>Crie sua conta</p>
            <div class="boxvertical">
                <div>
                    <input id="nome" type="text" placeholder="Nome" formControlName="name" />
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    <div *ngIf="name.errors.required">
                        Nome é obrigatório.
                    </div>
                </div>
                <div>
                    <input id="email" type="email" placeholder="Email" formControlName="email" />
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                    <div *ngIf="email.errors.required || email.errors.email">
                        Email é obrigatório.
                    </div>
                </div>
                <div>
                    <input id="senha" [type]="tipoInputSenha" placeholder="Senha" formControlName="password" />
                    <span>
                        <img src="assets/olho.png" alt="" (click)="actionShowPassword()">
                    </span>
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                    <div *ngIf="password.errors.required">
                        Senha é obrigatório.
                    </div>
                </div>
                <div>
                    <input id="confirmarsenha" [type]="tipoInputConfirmarSenha" placeholder="Confirmar Senha"
                        formControlName="confirmPassword">
                    <span>
                        <img src="assets/olho.png" alt="" (click)="actionShowConfirmPassword()">
                    </span>
                </div>
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert">
                    <div *ngIf="confirmPassword.errors.notEquivalent">
                        Senhas não conferem
                    </div>
                </div>
                <br>
            </div>
            <button type="button" class="cancelarbtn" (click)="actionCancelar()">Cancelar</button>
            <input class="submitinput" id="submitinfo" type="submit" value="Confirmar"
                [disabled]="!dadosCadastro.valid">
        </form>
    </div>
</div>